# {{usedBy}}
id: {{id}}
# Generic front-matter for curated texts
scope: {{scope}}
termtype: {{termType}}
termid: {{termId}}
formphrases:
grouptags:
status: proposed
created: {{createdDate}}
updated: {{updatedDate}}
vsntag: {{version}}
contributors: {{contributors}}
# TEv2: type-specific front-matter for type `concept`
isa:
term: {{termName}}
fullterm:
shorterm:
synonyms:
glossaryText: {{glossaryText}}"
# Docusaurus \(see https://docusaurus\.io/docs/api/plugins/@docusaurus/plugin-content-docs#markdown-front-matter\):
title: {{title}}
hoverText: "{{hoverText}}"
# sidebar_label:
# hide_table_of_contents: true
